/*tablet responsive*/

@media only screen and (min-width: 1120px) and (max-width: 1136px) {
  .container {
    width: 94%;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1119px) {
  .container {
    width: 94%;
    font-size: 16px;
  }
  .hero-section {
    max-width: 80%;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 94%;
    font-size: 16px;
  }
  .hero-section {
    max-width: 100%;
  }
  .about-me p {
    max-width: 80%;
  }
  .skill-card {
    max-width: 48%;
  }
}

@media only screen and (max-width: 701px) {
  .nav {
    position: static;
    background: none;
  }
  .button {
    transform: scale(0.8);
    margin-top: 1rem;
  }
  .name {
    margin-left: 0;
  }
  main h1,
  main h1 span {
    font-weight: 900;
    font-size: 2.5rem;
    margin-top: 10%;
  }
  .name {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav ul {
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
    animation: bounceup 1.8s linear;
    animation-fill-mode: initial;
    z-index: 999;
  }
  @keyframes bounceup {
    from {
      bottom: -100%;
    }
    to {
      bottom: 1%;
    }
  }
  .nav ul li a {
    padding: 0.5rem 0.9rem;
  }
}

@media only screen and (max-width: 613px) {
  main h1,
  main h1 span {
    font-size: 2rem;
  }
  .skill-card {
    max-width: 49%;
  }
  p,
  span {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 531px) {
  .skill-card {
    max-width: 100%;
  }
}

@media only screen and (max-width: 475px) {
  nav ul li a {
    font-size: 0.8rem;
  }
  main h1,
  main h1 span {
    font-size: 1.5rem;
  }
  .about-me p {
    max-width: 90%;
  }
}

@media only screen and (min-width: 200px) and (max-width: 349px) {
  .button {
    transform: scale(0.6);
  }
  nav ul li a {
    font-size: 0.5rem;
  }
  main h1,
  main h1 span {
    font-weight: 900;
    font-size: 1.2rem;
    margin-top: 10%;
  }
  .section-title {
    font-size: 1.5rem;
  }
  .about-me p {
    max-width: 90%;
  }
  .skill-card {
    max-width: 100%;
  }
  .p-header {
    font-size: 1rem;
  }
  .project li a,
  .contacts ul li a p {
    font-size: 1rem;
  }
  p,
  span {
    font-size: 0.7rem;
  }
}
