@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Outfit:wght@100;400;900&display=swap');

/* :root{
    --primary-color: #FCBA28;
    --secondary-color: #A42CE9;
    --background-color: #000;
    --element-color: #1F1F1F;
    --text-color: #FFF;
} */
/* Light Mode */
/* :root{
    --primary-color: #FF06B7;
    --secondary-color: #4B5D67;
    --background-color: #BDF2D5;
    --element-color: #1F1F1F;
    --text-color: #3C2C3E;
} */

@media (prefers-color-scheme: dark) {
    :root{
        --primary-color: #00ADB5;
        --secondary-color: #393E46;
        --background-color: #222831;
        --element-color: #1F1F1F;
        --text-color: #EEEEEE;
    }
    
  }
  
  @media (prefers-color-scheme: light) {
    :root{
        --primary-color: #FF06B7;
        --secondary-color: #4B5D67;
        --background-color: #BDF2D5;
        --element-color: #1F1F1F;
        --text-color: #3C2C3E;
    }
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', cursive, sans-serif;
    font-size: 24px;
    color: var(--text-color);
}


*::selection {
    background: var(--secondary-color);
    color: var(--primary-color);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}


/*utilities*/

.hidden {
    visibility: hidden;
}

.color-primary {
    color: var(--primary-color);
}

.tx-c {
    text-align: center;
}

.ms-auto {
    margin: 0 auto;
}

.mv-2 {
    margin: 2rem 0;
}

.section-title {
    font-size: 2rem;
    font-weight: 900;
    padding: 1rem;
}

.container {
    width: calc(100% - 158px);
    margin: 25px auto 5px;
    max-width: 1200px;
}

.button {
    padding: 0.5rem 0;
    border: 1px solid var(--text-color);
    max-width: 9rem;
    margin-top: 2rem;
    position: relative;
    cursor: pointer;
    background-color: var(--background-color);
    transition: 0.5s ease;
}

.button::before {
    content: "";
    position: absolute;
    width: 8.5rem;
    height: 2rem;
    border-right: 3px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    top: 15%;
    left: 6%;
}

.button:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: 900;
    font-size: 1.1rem;
    transition: 0.5s ease;
    transform: scale(0.9);
}

.button:hover::before {
    content: none;
}

.v-line {
    width: 3px;
    height: 5rem;
    display: block;
    background-color: var(--element-color);
}

a:hover {
    color: var(--secondary-color);
    transition: 0.3s ease;
    cursor: pointer;
}


/*navbar*/

.nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    background-color: var(--background-color);
}

.nav h1 {
    font-size: 2.2rem;
    vertical-align: center;
}

nav ul li {
    position: relative;
}

.nav ul {
    display: flex;
    list-style: none;
    padding: 1rem 0;
}

nav ul li a {
    padding: 0 1rem;
    text-align: center;
    font-weight: 100;
    color: var(--primary-color);
    text-decoration: none;
}

nav ul li a:last-child {
    padding-right: 0;
}

.name:hover {
    transition: 0.5s ease;
    color: var(--secondary-color);
    cursor: pointer;
}


/*hero section styles*/


/* @keyframes name | duration | easing-function | delay */

.hero-section {
    height: 65vh;
    max-width: 68%;
    text-align: center;
    margin-bottom: 2rem;
    opacity: 0;
    animation: slidein 1s ease-in 0.1s;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    0% {
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.hero-section main {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

main h1,
main h1 span {
    font-weight: 900;
    font-size: 3rem;
    margin-top: 10%;
}

main p {
    max-width: 70%;
    text-align: center;
    padding-top: 0.5rem;
    font-weight: 100;
}


/*about me section */

.about-me p {
    max-width: 70%;
    margin: 0 auto;
    font-weight: 100;
    padding-bottom: 3rem;
    text-align: justify;
}


/*skills section */

.skills-section {
    margin-bottom: 2rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-card {
    border: 4px solid var(--element-color);
    padding: 1rem 0.8rem;
    max-width: 32%;
    margin-bottom: 1rem;
    position: relative;
    visibility: hidden;
}

.grow{
    animation: slidex 1s ease-in forwards;
}

@keyframes slidex {
    from{
        transform: translateX(-100%) scale(0.5);
    }
    to{
        visibility: visible;
        transform: translateX(0%) scale(1);
    }
}

.skill-card:hover {
    border-color: var(--primary-color);
    transition: 0.5s ease;
}

.card-header {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    padding: 0 0 1rem;
}

.p-header {
    font-size: 1.2rem;
}

.p-logo i {
    font-size: 2rem;
}

.skill-desc {
    font-weight: 100;
    padding: 0 0 1rem;
}

.skill-desc a:hover {
    transition: 0.5s ease;
    color: var(--secondary-color);
    cursor: pointer;
}


/*progress and progress bar animation */

.progress {
    background: var(--element-color);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: 15px;
    width: 96%;
    position: absolute;
    bottom: 5%;
    left: 2%;
}

.progress-value {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: var(--primary-color);
    height: 15px;
    width: 0;
}

.one {
    animation: load1 5s normal forwards;
}

@keyframes load1 {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

.two {
    animation: load2 5s normal forwards;
}

@keyframes load2 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

.three {
    animation: load3 5s normal forwards;
}

@keyframes load3 {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}

.four {
    animation: load4 5s normal forwards;
}

@keyframes load4 {
    0% {
        width: 0;
    }
    100% {
        width: 20%;
    }
}

.five {
    animation: load5 5s normal forwards;
}

@keyframes load5 {
    0% {
        width: 0;
    }
    100% {
        width: 10%;
    }
}

.six {
    animation: load6 5s normal forwards;
}

@keyframes load6 {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}


/*projects and contacts section */

.projects {
    margin-bottom: 2rem;
}

.project,
.contacts ul {
    list-style-type: none;
}

.project li,
.contacts ul li {
    padding: 0.2rem 0;
}

.project li a,
.contacts ul li a p {
    font-size: 1.4rem;
    font-weight: 900;
}

.project li span {
    font-weight: 100;
}


/*contacts section*/

.contacts {
    display: flex;
}

.footer {
    max-width: 40%;
    text-align: right;
    margin-left: auto;
    height: 90%;
    padding: 2rem 1rem;
    background-color: var(--secondary-color);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer p {
    font-weight: 100;
    background-color: transparent;
}

.end{
    color:var(--element-color);
    font-size: small;
    margin: 0.5rem;
}

/*scroll progress bar*/

#scroll-progress1 {
    position: fixed;
    top: 0;
    right: 0;
    width: 4px;
    height: 0%;
    background: var(--primary-color);
    z-index: 10000;
}

#scroll-progress2 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 4px;
    height: 0%;
    background: var(--secondary-color);
    z-index: 10000;
}

body::-webkit-scrollbar {
    display: none;
}